<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('layouts/head') %>
</head>

<body>
  <%- include('layouts/header') %>

  <%- include('layouts/slider') %>

  <div class="main">
    <div class="page-body">
      <div class="products-list-title">
        <h1>Sản phẩm nổi bật</h1>
      </div>
      <div class="products-list-ctn" id="products-list-ctn">
        <script>
          $(document).ready(() => {
            $.post('/product/new', {
              'begin': 0,
              'quantity': 20
            }, (data) => {
              if (!data.success) {
    
              }
              data.results.forEach((e) => {
                $('#products-list-ctn').append(
                  '<div class="product-ctn"><div class="product-thumb-ctn">'
                  + '<a href="/product/' + e.product_id + '">'
                  + '<img src="' + e.thumbnail + '" alt="">'
                  + '</a></div><div class="product-text-ctn"><div class="product-name-ctn">'
                  + '<a href="/product/' + e.product_id + '"><p>' + e.name + '</p>'
                  + '</a></div><div class="product-price-ctn">'
                  + '<span>' + new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'VND' }).format(e.price) + '</span>'
                  + '</div></div></div>'
                );
              });
            });
          });
        </script>
      </div>
    </div>
  </div>
  
  <%- include('layouts/footer') %>
  
  <%- include('layouts/script') %>
</body>

</html>
